floBackend/.cabal-sandbox
floBackend/cabal.sandbox.config
floBackend/dist

.recommenders
.metadata
flo IDE/.settings
flo IDE/bin
flo IDE/.classpath
flo IDE/.project
flo IDE/swing2swt.jar
flo IDE/javax.json-1.0.4.jar

org.eclipse.swt
